<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Invoice</title>

    <!-- A template for showing an invoice in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="invoice">
        <div class="top">
          <div class="block">
            <div class="header">
              <div class="meta title">Factuur</div>
            </div>
            <div class="info"><span class="meta">Factuurnummer</span> #{{ invoice.Factuurnummer }}</div>
            <div class="info" v-if="invoice.Issued"><div class="meta date-tag">Issued</div> {{ invoice.Factuurdatum | asDate }}</div>
            <div class="info" v-if="invoice.Due"><div class="meta date-tag">Due</div> {{ invoice.Vervaldatum | asDate }}</div>
          </div>
          
          <div class="supplier">
            <div v-for="business in (invoice.Invoicer ? [invoice.Invoicer] : [])">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address">
                  <span class="name">{{ business.Name }}</span><br />
                  {{ business.Street1 }}<br />
                  <template v-if="business.Street2">
                    {{ business.Street2 }}<br />
                  </template>
                  {{ business.Zip }} {{ business.City }}<br />
                  <template v-if="business.Country">
                    {{ business.Country }}<br />
                  </template>
                </div>
                <template v-if="business.Email">
                  <div class="email">{{ business.Email }}</div>
                </template>
                <template v-if="business.Phone">
                  <div class="phone">{{ business.Phone }}</div>
                </template>
                <template v-if="business.Website">
                  <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
                </template>
              </template>
            </div>
          </div>
        </div>
        
        <div class="client" v-for="business in (invoice.Klant ? [invoice.Klant] : [])">
          <div class="title">Factuur aan</div>
          <div class="details">
            <template v-if="typeof(business) === 'string'">
              <div class="newlined">{{ business }}</div>
            </template>
            <template v-else>
              <div>{{ business.Naam }}</div>
              <template v-if="business.Straat">
                {{ business.Straat }},
              </template>
              {{ business.Postcode }} {{ business.Plaats }}
            </template>
          </div>
        </div>

        <table class="items">
          <template v-if="!Array.isArray(invoice.Items)">
            <tr>
              <th>Geleverd</th>
              <th class="money">Totaal</th>
            </tr>
            <tr>
              <td>{{ invoice.Items }}</td>
              <td class="money">{{ invoice.Total | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th>Geleverd</th>
              <th class="money">Prijs per stuk</th>
              <th class="number">Aantal</th>
              <th class="money">Totaal</th>
            </tr>
            <tr v-for="item in invoice.Items">
              <td>{{ item.Artikel }}</td>
              <td class="money">{{ item.Prijs | currency }}</td>
              <td class="number">{{ item.Aantal }}</td>
              <td class="money">{{ item.Totaal | currency }}</td>
            </tr>
          </template>
        </table>

        <div class="summary">
          <div class="part">
            <div class="title">Subtotaal</div>
            <div class="details">{{ invoice.Subtotaal | currency }}</div>
          </div>
          <div class="part">
            <div class="title">Korting</div>
            <div class="details">{{ invoice.Deduction | currency }}</div>
          </div>
          <div class="part">
            <div class="title">BTW</div>
            <div class="details">{{ invoice.Taxes | currency }}</div>
          </div>
          <div class="total">
            <div class="title">Totaal</div>
            <div class="details">{{ invoice.Totaal | currency }}</div>
          </div>
        </div>

        <template v-if="invoice.Notitie">
          <p class="note">{{ invoice.Notitie }}</p>
        </template>

        <template v-for="help in (invoice.Help ? [invoice.Help] : [])">
          <div class="help">
            <div class="help-close">
              Vul <span class="column-name">vervaldatum</span> or <span class="column-name">Datum</span> in om deze help te laten verwijderen.
            </div>
            <div class="title">Kolom informatie</div>
            <div class="details">
              <table>
                <tr v-for="group in ['herkend', 'verwacht', 'genegeerd']">
                  <td class="key">{{ group }}</td>
                  <td>
                    <template v-if="group in help">
                      <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                    </template>
                    <template v-else>
                      &mdash;
                    </template>
                  </td>
                </tr>
              </table>
              <template v-if="invoice.SuggestReferencesColumn">
                <div>For structured address and item information, add a <span class="column-name">References</span> column with this formula:</div>
                <div>
                  <pre>RECORD(rec, expand_refs=1)</pre>
                </div>
              </template>
            </div>
          </div>
        </template>

        <div class="footer">
          <div class="thanks">
            Bedankt!
          </div>
        </div>

        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
      </template>
    </div>
  </body>
</html>
